<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Вывод в консоль -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%-5level] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Уровни логирования -->
    <logger name="io.gatling.http.engine.response" level="WARN" />
    <logger name="io.gatling.http.client" level="WARN" />
    <logger name="io.netty" level="WARN" />

    <!-- Корневой logger -->
    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>